#canvas_container {
  border: 1px solid black;
  display: inline-block;
  margin: 5px;
}

#canvas {
    margin-bottom: -8px;
}

.settings {
  display: inline-block;
  text-align: center;
}

input.bc {
  width: 40px;
}